<% content_for :title do %>Companies<% end %>

<div class="col-md-6">
  <%= form_tag root_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :name, params[:name] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
      <div id="companies"><%= render 'company/companies' %></div>
  <% end %>
</div>
<div class="col-md-6">
  <div id="companyHistory"><%= render 'company/company_history' %></div>
</div>


