<% content_for :title do %>Companies<% end %>

<%= form_tag company_path, :method => 'get' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <p>
      <%= text_field_tag :name, params[:name] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<div id="companies"><%= render 'company/companies' %></div>

<%= will_paginate @companies %>
